<div class="welcome_message ">
  <div class="title uk-text-primary uk-animation-slide-bottom">
    <h1>Welcome to places</h1>
    <span class="text-gradient"></span>
  </div>
  <p>
    Share your experiences.
  </p>
</div>