<div class="auth_body_container">
  <div class="auth_container" style="margin-top: 20px;">
    <%= form_for @user, url: {action: :update_avatar} do |f| %>

      <div class="field">
        <%= f.file_field :avatar %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>