<div class="container" style="width: 900px">
  <h2>Search user</h2>
  <br>
  <div align="center">
    <input type="text" class="form controller" id="search" placeholder="look for someone">
  </div>
  <!--<ul class="list-group" id="result">-->
    <div id="data_display">

    </div>
  <!--</ul>-->
  <br>
</div>