// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.current_user_link{
  text-decoration: none;
}

div.profile_container{
  display: flex;
}

div.profile_container div.photo{
  margin-right: 50px;
}